/* home content style*/
.home-content{
    grid-area: "content";
    background-color: #FFFFFF;
    display: grid;
    grid-template: repeat(4,250px)/repeat(4,1fr);
}
.first-post{
    grid-area: 2/1/4/3;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-post{
    grid-area: 2/3/4/-1;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sleep-post,.alaa-post{
    background-color: rgba(200, 232, 255, 0.4); 
    border-radius: 10px;
    height:max-content ;
    margin: 50px;
}
.welcome-content{
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 15px;
}
#Alaaeldin{
     font-size: 64px;
}

.sleep-person,.Alaaeldin-carpet{
    width: 20rem;
    height: 15rem;
    margin: 30px;
}
/* media query*/
@media(max-width: 768px){
    .home-content{
        grid-area: "content";
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
}