/* Skills content style*/
h1{
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}
.Skills-content{
    grid-area: content;
    background-color: #FFFFFF;
}

.Skills-post{
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.skills-language{
    width: 30%;
    height: auto;
    display: inline-flex;
    margin: 2px;
}
/* media query*/
@media(max-width: 1000px){
    .skills-language{
        width: 20%;
        height: auto;
        display: inline-flex;
        margin: 2px;
    }
}